
    <div id="search-container">
        <h1>Find Tourist Spots</h1>
        <label for="place-name">Enter Place Name:</label>
        <input type="text" id="place-name" placeholder="E.g., New York">
        <button>Search</button>
    </div>

    <div id="result-container">
        <h2>Tourist Spots in <span id="place-result"></span>:</h2>
        <ul id="tourist-spots-list"></ul>
    </div>

    <div id="map"></div>