body {
    font-family: Arial, sans-serif;
}

#registration, #profile {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: none;
}

h1 {
    font-size: 24px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"],
#logout {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#logout {
    background-color: #ff3333;
}

#logout:hover {
    background-color: #cc0000;
}
